body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dl-horizontal dt{
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.estrelas input[type=radio]{
    display: none;
}

.estrelas label i.fa:before {
    content: '★';
    color: #FC0;
}

#colophon {
    background: #222;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    color: lightgray;
    font-size: 14px;
}

body{
    color: #666;
}

::selection {
    background-color: #fa394a;
    color: #fff !important;
}

html,
body {
    overflow-x: hidden;
}

.slideshow-container, .salas {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

#terreo:hover{
    opacity: 0.5;
}

#primeiroAndar:hover{
    opacity: 0.5;
}

#segundoAndar:hover{
    opacity: 0.5;
}

#terceiroAndar:hover{
    opacity: 0.5;
}

.navegador {
    margin-top: 18px;
    margin-bottom: 12px;
}

.entry-content {
    text-align:justify;
}

#p1{
    width: 75px;
    height: 65px;
}

#p2 {
    width: 100px;
    height: 100px;
}

#p3 {
    width: 100px;
    height: 100px;
}

#p4 {
    width: 75px;
    height: 75px;
}

#p5 {
    width: 100px;
    height: 25px;
}

#p6 {
    width: 100px;
    height: 75px;
}

#p7 {
    width: 100px;
    height: 60px;
}

#p8 {
    width: 100px;
    height: 100px;
}

#p9 {
    width: 100px;
    height: 75px;
}

#p10 {
    width: 100px;
    height: 25px;
}

#p11 {
    width: 100px;
    height: 100px;
}