body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.estrelas input[type=radio]{
    display: none;
}

.estrelas label i.fa:before {
    content: '★';
    color: #FC0;
}

footer#colophon {
    background: #222;
}

body{
    color: #666;
}

#freiLogo{
    height: 200px;
    width: 150px;
    margin-top: 50px;
}

#footLogo{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#instituto{
    height: 240px;
    width: 470px;
}

::selection {
    background-color: #fa394a;
    color: #fff !important;
}

#FeiraTitulo {
    width: 470px;
}

#programacaoTitulo{
    color: steelblue;
}

#terreo, #primeiroAndar, #segundoAndar, #terceiroAndar {
    width: 470px;
}

#terreo:hover {
    opacity: 0.6;
}

#primeiroAndar:hover {
    opacity: 0.6;
}

#segundoAndar:hover {
    opacity: 0.6;
}

#terceiroAndar:hover {
    opacity: 0.6;
}