
@{
    ViewBag.Title = "Index";
}

<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="https://acaonsfatima.org.br/wp-content/uploads/2019/08/popup-1.jpg" style="width:100%; height:220px">
    </div>

    <div class="mySlides fade">
        <img src="https://diocesedesantoamaro.org.br/wp-content/uploads/2018/09/ISNSF-890x395.png" style="width:100%; height:220px">
    </div>

    <div class="mySlides fade">
        <img src="https://acaonsfatima.org.br/wp-content/uploads/2018/11/plateia.jpg" style="width:100%; height:220px">
    </div>
    <div class="mySlides fade">
        <img src="https://acaonsfatima.org.br/wp-content/uploads/2018/11/Cambridge-6.jpg" style="width:100%; height:220px">
    </div>
</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>

<br />

<div class="entry-content">
    <p>&nbsp;</p>
    <p style="text-align: left;">O <strong>primeiro evento</strong> organizado por nós especialmente para você que tem dúvidas sobre como funciona o <strong>Mundo do Trabalho</strong>, como se comportar, o que cada área realiza e muitas outras curiosidades que te ajudarão a conhecer o ambiente profissional!</p>
    <p>Teremos vários <strong>temas especiais</strong> com atividades interativas de cada curso (<strong>inclusive o CEDESP</strong>), <strong>Sebo</strong> com livros de diversos assuntos e livros <strong>escritos pelo próprio Frei Xavier</strong>, além dos stands de alguns dos nossos parceiros.</p>
    <p>Veja nossa programação, marque a data na sua agenda e chame todos para participar.</p>
    <p><strong>Evento gratuito! Não perca!</strong></p>
    <p>&nbsp;</p>
</div>

<div class="salas">
    <img src="~/Imagens/igmTerreo.jpg" style="width:100%; height:180px" />
    <img src="~/Imagens/img1Andar.jpg" style="width:100%; height:200px"/>
    <img src="~/Imagens/img2Andar.jpg" style="width:100%; height:200px"/>
    <img src="~/Imagens/img3Andar.jpg" style="width:100%; height:200px"/>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000);
    }
</script>