
@{
    ViewBag.Title = "Index";
}

<center>
    <a href="https://acaonsfatima.org.br/"><img id="freiLogo" src="~/Imagens/logo.png" /></a>
    <a href='@Url.Action("Index", "Feira")'><img id="feiraLogo" src="~/Imagens/feiraLogo.jpeg" /></a>

    <h1>Conheça mais sobre nosso instituto!</h1>

    <br />

    <img id="instituto" src="~/Imagens/ISNSF-890x395.png" />
</center>