@{
    ViewBag.Title = "PrimeiroAndar";
}

<div class="andar_content">

    <link href="~/Content/andar1.css" rel="stylesheet" />
    <div class="img">
        <div class="andar">1º Andar</div>
        <img src="~/Imagens/img1Andar.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Nesse andar teremos diversas apresentações e exibições de projetos.Os projetos deste andar são voltados para a área de informatica
        e administração, esse andar é um ótima opção para aqueles que gostam de informática ou aprender um pouco sobre contabilidade e empreendedorismo.
    </div>
    <div class="Info">
        <figure class="figura1">
            <img src="~/Imagens/curso-de-informatica-basica.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 16</b></div>
        </center>
        <br />
        <div class="texto">
            Na sala 16 iremos estar realizando e exibição de um projeto feito pelos nossos alunos de informática
            que montaram seu próprio projeto usando um arduino! Nessa mesma sala, Alguns alunos iram estar dando pequenas aulas sobre programação
            para aqueles que estiverem interessados e curiosos sobre como funciona esse gigantesco mundo da programação, também estaram exibindo
            jogos programados por eles mesmos, e o publico esta convidado a jogar conosco!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b><u>"Projeto Arduino"</u></b></div>
        </center>
    </div>

    <div class="Contab">
        <figure class="figura2">
            <img src="~/Imagens/contabilidade.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 17</b></div>
        </center>
        <br />
        <div class="texto">
            Nossos alunos de Administração desse ano irão estar apresentando um projeto sobre Contabilidade e Recursos Humanos, onde o publico
            poderá estar tirando duvidas e aprendendo um pouco mais sobre esses assuntos.

        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b><u>"Paixão por Vencer em diferentes perspectivas visao 4.0"</u></b></div>
        </center>
    </div>

    <div class="Empreen">
        <figure class="figura1">
            <img src="~/Imagens/empreendedorismo-ideia-nova.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 18</b></div>
        </center>
        <br />
        <div class="texto">
            O Nossos alunos de Administração irão estar apresentando um projeto motivacional sobre empreendedorismo, onde estaram incentivando
        e dando dicas sobre o assunto , e mostrando que usando o que estiver ao seu alcance , mesmo que seja pouco, você tem capacidade para
        fazer muitas coisas e gerar lucro.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b><u>"Comece de onde você está. Use o que tiver. Faça oque você puder."</u></b></div>
        </center>
    </div>

   
    <br />

</div>