
@{
    ViewBag.Title = "SegundoAndar";
}

    <link href="~/Content/andar2.css" rel="stylesheet" />

<br />
<center>
    <a href='@Url.Action("Index", "Feira")'><img id="FeiraTitulo" src="~/Imagens/feiraTitulo.jpg" /></a>
</center>
<br />
<center>
    <img id="FeiraTitulo" src="~/Imagens/2Andar.jpg" />
</center>
<br />
<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="~/Imagens/Comunicação Visual.jpg" style="width:100%">
        <div class="text">Comunicação Visual</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Imagens/1-curriculo.jpg" style="width:100%">
        <div class="text">Elaboração de Currículos</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Imagens/Vocação2.jpg" style="width:100%">
        <div class="seila">Teste Vocacional</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Imagens/dicas-de-apresentacao-1200x480.png" style="width:100%">
        <div class="text">Secretariado</div>
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
</script>
<br />
<br />
<center class="sala">
    <span>Sala 21</span>
</center>
<br />
<br />
<center><span class="Comunicação">
    "O ver e o entender, o idealizar e o realizar"
    </span></center>
<span class="Comunicação">
    Em colaboração com a CEDESP nós também iremos estar disponibilizando para vocês a oportunidade de fazer seu currículo!
    Isso mesmo, pessoas de todas as idades serão consultadas e auxiliadas na criação do seu currículo profissional,
    claro que iremos tirar diversas duvidas e também dar dicas sobre como montar e o que ter em um currículo ideal e profissional com a colaboração de diversos profissionais na área, não perca essa chance!
</span>
<br />
<br />
<center class="sala">
    <span>Sala 22</span>
</center>
<br />
<br />
<center><span class="Curriculo">"Maximizando oportunidades"</span></center>
<span class="Curriculo">
    Em colaboração com a CEDESP nós também iremos estar disponibilizando para vocês a oportunidade de fazer seu currículo!
    Isso mesmo, pessoas de todas as idades serão consultadas e auxiliadas na criação do seu currículo profissional,
    claro que iremos tirar diversas duvidas e também dar dicas sobre como montar e o que ter em um currículo ideal e profissional com a colaboração de diversos profissionais na área, não perca essa chance!
</span>
<br />
<br />
<center class="sala">
    <span>Sala 23</span>
</center>
<br />
<br />
<center><span class="CAT">"A melhor escolha é aquela consciente!"</span></center>
<span class="CAT">
    O CAT (Centro de Apoio ao Trabalhador) estará aqui e irá ajudar com um Teste Vocacional!
    Se você ainda não tem certeza do que cursar, ou quer uma segunda opinião sobre o que você já planeja fazer, esse teste vocacional irá ajudar bastante e lhe aconselhar a tomar uma decisão melhor.
</span>
<br />
<br />
<center class="sala">
    <span>Sala 24</span>
</center>
<br />
<br />
<center><span class="BatePapo">"Construindo Histórias de Sucesso!"</span></center>
<span class="BatePapo">
    Em colaboração com a CEDESP nós também iremos estar disponibilizando para vocês a oportunidade de fazer seu currículo!
    Isso mesmo, pessoas de todas as idades serão consultadas e auxiliadas na criação do seu currículo profissional,
    claro que iremos tirar diversas duvidas e também dar dicas sobre como montar e o que ter em um currículo ideal e profissional com a colaboração de diversos profissionais na área, não perca essa chance!
</span>
