
@{
    ViewBag.Title = "SegundoAndar";
}

<link href="~/Content/andar2.css" rel="stylesheet" />

<div class="img">
    <img src="~/Imagens/Fundo.jpeg" style="width:100%" />          
</div>

<span class="frase">
    Aqui no segundo andar você vai ter uma variedade muito grande de coisas para serem feitas e assistidas. Você poderá ver de um Talk show até ser aconselhado em processos profissionais do mercado de trabalho como a criação de um currículo!
    Esse andar é importante para todos aqueles q querem ter uma noção melhor do ambiente profissional, fazendo teste vocacional, criando currículos e até vendo como comunicação visual trabalha! Faça questão de visitar todas as salas para que você possa aprender e se divertir bastante com isso.
</span>
<br />
<div class="Comunicação">
    <figure class="figura1">
        <img src="~/Imagens/Comunicação Visual.jpg" width="150" height="150" alt="Imagem Xis">
    </figure>

    <center class="sala">
        <span>Sala 21</span>
    </center>
    <br />
    <span>
        Venha conhecer nossa turma de Comunicação Visual, Aqui você poderá acompanhar todo o processo de desenho e edição até de uma caricatura por exemplo!
        Você terá a chance de ter uma noção melhor de tudo que acontece aqui no curso de comunicação visual pela visão dos próprios alunos.
    </span>
    <center class="fonte">
        <span>"O ver e o entender, o idealizar e o realizar"</span>
    </center>
</div>

<div class="Curriculo">
    <figure class="figura2">
        <img src="~/Imagens/como-fazer-um-curriculo-bem-feito-790x527.jpg" width="150" height="150" alt="Imagem Xis">
    </figure>

    <center class="sala">
        <span>Sala 22</span>
    </center>
    <br />
    <span>
        Em colaboração com a CEDESP nós também iremos estar disponibilizando para vocês a oportunidade de fazer seu currículo!
        Isso mesmo, pessoas de todas as idades serão consultadas e auxiliadas na criação do seu currículo profissional,
        claro que iremos tirar diversas duvidas e também dar dicas sobre como montar e o que ter em um currículo ideal e profissional com a colaboração de diversos profissionais na área, não perca essa chance!
    </span>
    <center class="fonte">
        <span>"Maximizando oportunidades"</span>
    </center>
</div>

<div class="CAT">
    <figure class="figura1">
        <img src="~/Imagens/Vocação.jpg" width="150" height="150" alt="Imagem Xis">
    </figure>

    <center class="sala">
        <span>Sala 23</span>
    </center>
    <br />
    <span>
        O CAT (Centro de Apoio ao Trabalhador) estará aqui e irá ajudar com um Teste Vocacional!
        Se você ainda não tem certeza do que cursar, ou quer uma segunda opinião sobre o que você já planeja fazer, esse teste vocacional irá ajudar bastante e lhe aconselhar a tomar uma decisão melhor.
    </span>
    <center class="fonte">
        <span>"A melhor escolha é aquela consciente!"</span>
    </center>
</div>

<div class="BatePapo">
    <figure class="figura2">
        <img src="~/Imagens/BatePapo.jpg" width="150" height="150" alt="Imagem Xis">
    </figure>

    <center class="sala">
        <span>Sala 24</span>
    </center>
    <br />
    <span>
        Aqui você poderá assistir e até participar de um tipo de Talk Show! Isso mesmo, duas pessoas profissionais na área estarão aqui e falaram um pouco sobre a área, segredos, técnicas e muito mais.
        Claro que vai ser algo bem interativo ao público, não perca a chance e venha dar uma olhada!
    </span>
    <br />
    <center class="fonte">
        <span>"Construindo Histórias de Sucesso"</span>
    </center>
</div>
<br />
