@{
    ViewBag.Title = "Terceiro Andar";
}

<div class="andar_content">

    <link href="~/Content/andar3.css" rel="stylesheet" />
    <div class="img">
        <div class="andar">3º Andar</div>
        <img src="../Imagens/img3Andar.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Aqui no terceiro andar você vai ter uma variedade muito grande de palestras que irão tratar sobre as tendências atuais, como: A língua universal que atualmente é o inglês, trajetórias profissionais, o futuro da geração Z e de como vencer as dificuldades de aprendizado.
    </div>

    <div class="Comunicação">
        <figure class="figura1">
            <img src="~/Imagens/imgSala27.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 27</b></div>
        </center>
        <br />
        <div class="texto">
            Venha fazer um Teste de Certificação de Inglês da Cambridge e descubra qual o seu nível de Inglês agora mesmo! Além do teste ser reconhecido mundialmente, isso será muito útil para todos aqueles que querem ter uma noção melhor da sua capacidade na língua universal do século XXI, então não perca a chance e venha logo aproveitar!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"O idioma universal do século 21. Venha aprendar com a gente!"</b></div>
        </center>
    </div>

    <div class="Curriculo">
        <figure class="figura2">
            <img src="~/Imagens/imgAud9.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 9:30</b></div>
        </center>
        <br />
        <div class="texto">
            Nesta palestra será falado sobre o futuro profissional da geração “Z”! como serão os jovens do futuro? Eles se tornarão muito mais dependentes da Tecnologia? Isso é bom ou ruim? Esse será o tema dessa palestra apresentada por Marina Proença da Rede Globo que com certeza irá chamar a atenção de muitas pessoas!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"O futuro do trabalho para a geração Z"</b></div>
        </center>
    </div>

    <div class="CAT">
        <figure class="figura1">
            <img src="~/Imagens/imgAud11.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 11:00</b></div>
        </center>
        <br />
        <div class="texto">
            Nesta palestra o tema retratado irá falar sobre algo que com certeza merece muito mais atenção, a dificuldade no aprendizado que afeta muitos jovens e também será comentado sobre a Dislexia e como lidar com isso, essa palestra será exclusiva para educadores e pais e merece muita atenção.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Vencendo as dificuldades de aprendizado, entre elas a Dislexia"</b></div>
        </center>
    </div>

    <div class="BatePapo">
        <figure class="figura2">
            <img src="~/Imagens/imgAud1230.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 12:30</b></div>
        </center>
        <br />
        <div class="texto">
            Nesta palestra vamos falar melhor sobre trajetória profissional, como realmente é tudo o que ocorre durante sua carreira, se ocorrerão diversas vitórias e claro que também haverá diversos desafios durantes esse trajeto, essa palestra será apresentado por Alison Rocha, um ex-aluno e Coordenador de Escola. Não perca!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Trajetória profissional: Desafio e Vitórias!"</b></div>
        </center>
    </div>
    <br />

</div>