
@{
    /**/

    ViewBag.Title = "Terreo";
}
<div class="andar_content">
    <link href="~/Content/Terreo.css" rel="stylesheet" />
    
    <center class="andar">
        <div>Térreo</div>
    </center>
    <div class="img">
        <img src="~/Imagens/imgTerreo.jpg" style="width:100%" />
    </div>

    <div class="frase">
        No térreo teremos diversas apresentações e exibições de projetos. Os projetos deste andar são voltados para a área de eletromecânica e
        eletrotécnica , neste andar contaremos com a barraca de alimentos do evento,
        barraca de livros do Frei Xavier (fundador da instituição) e distribuição de senhas para palestras.
    </div>
   
    <div class="Info">
        <figure class="figura1">
            <img src="~/Imagens/imgjuridico.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Sala 3</div>
        </center>
        <br />
        <div>
            Na sala 3, contaremos com um atendimento jurídico,
            profissionais da área estrão disponíveis para retirar qualquer tipo de duvida relacionada ao direito do cidadão.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div> "A base da sociedade é a justiça!"</div>
        </center>
    </div>

    <div class="Contab">
        <figure class="figura2">
            <img src="~/Imagens/entrevista.jpg" 150" height="150">
        </figure>

        <center class="sala">
            <div>Sala 5</div>
        </center>
        <br />
        <div>
            Qualquer pessoa presente na feira de profissões terá a oportunidade de participar
            de uma simulação de entrevista onde sera esclarecisa diversas duvidas sobre
            qual postura apresentar e o que falar em uma entrevista de emprego.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div>"Como devo me comportar em uma entrevista?"</div>
        </center>
    </div>

    <div class="Empreen">
        <figure class="figura1">
            <img src="~/Imagens/imgmecanicaAuto.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Mecânica de Autos</div>
        </center>
        <br />
        <div>
            Nossos alunos de mecânica de auto, irão apresentar curiosidades sobre motores automotivos,
            também irão apresentar o funcionamento um motor a diesel desmontado e reações que acontecem em carros.
        </div>
    </div>

    <div class="Eletrica">

        <figure class="Auto">
            <img src="~/Imagens/imgAutoEletrica.jpg" width="150" height="150">
        </figure>
        <center class="sala1">
            <div>Auto-elétrica</div>
        </center>
        <br />
        <div>
            Junto dos professores os alunos de auto-eletrifica irão apresentar curiosidades sobre carros,
            apresentarão também o funcionamento da sinalização de um carro, sistema de alarme e som.
        </div>
        <br />
        <br />


    </div>

    <div class="Tecnica">
        <figure class="Eletro">
            <img src="~/Imagens/imgeletrotecnica.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Eletrotécnica</div>
            <br />
        </center>
        <br />
        <div>
            Junto dos professores os alunos de eletrotécnica
            irão apresentar curiosidade de equipamentos utilizados em instalações elétricas
            apresentarão ferramentas, matérias e demais aspectos que convivem em meio a esta profissão.

        </div>
        <br />
        <br />
        <center class="fonte">
            <div>"Comece de onde você está, Use o que tiver. Faça o que você puder!"</div>
        </center>
    </div>
</div>
